{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3 mt-3">
        <h1 class="text-center">{% trans "Profile" %}</h1>
        <form class="" id="" method="post" action="." enctype="multipart/form-data">
          {% csrf_token %}
                {% bootstrap_form form %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
          <a href="{% url 'submit_for_verification' %}" class="btn btn-primary">{% trans "Submit For Verification" %}</a>
        </form>
    </div>
{% endblock %}